{% extends "stc/layout.html" %}
{% load static %}
{% load humanize %}
{% load i18n %}
{% block titulo_page %}
  Consulta
{% endblock %}
{% block titulo_body %}
  <a class="left bot-atras" href="{% url 'stc:inicio' %}">
    <i class="material-icons">arrow_back</i>
  </a>
  <a class="brand-logo">Consulta</a>
{% endblock %}
{% block shortcuts %}
{% endblock %}
{% block opciones %}
{% endblock %}
{% block breadcrumb %}
  <a href="{% url 'stc:inicio' %}" class="breadcrumb">STC</a>
  <a class="breadcrumb">Consulta</a>
{% endblock %}
{% block body %}
  <div class="row">
  <ul class="collapsible" data-collapsible="expandable">
    <li>
      <div class="collapsible-header active">
        <i class="material-icons">input</i>Radicación
      </div>
      {% for i in data_factura %}
        <div class="collapsible-body campos-consulta">
          <div class="row">
            <div class="col s4 m2 l2 label-consulta">
              Factura:
            </div>
            <div class="col s8 m4 l4">
              {{ i.factura }}
            </div>
            <div class="col s4 m2 l2 label-consulta">
              Empresa:
            </div>
            <div class="col s8 m4 l4">
              {{ i.empresa.nombre }}
            </div>
          </div>
          <div class="row">
            <div class="col s4 m2 l2 label-consulta">
              Unidad:
            </div>
            <div class="col s8 m4 l4">
              {{ i.unidad.nombre }}
            </div>
            <div class="col s4 m2 l2 label-consulta">
              Convenio:
            </div>
            <div class="col s8 m4 l4">
              {{ i.convenio.nombre }}
            </div>
          </div>
          <div class="row">
            <div class="col s4 m2 l2 label-consulta">
              Valor:
            </div>
            <div class="col s8 m4 l4">
              {{ i.valor_factura|intcomma }}
            </div>
            <div class="col s4 m2 l2 label-consulta">
              Radicado:
            </div>
            <div class="col s8 m4 l4">
              {{ i.fecha_radicacion }}
            </div>
          </div>
          <div class="row">
            <div class="col s4 m2 l2 label-consulta">
              Tipo contrato:
            </div>
            <div class="col s8 m4 l4">
              {{ i.contrato_tipo }}
            </div>
            <div class="col s4 m2 l2 label-consulta">
              Servicio:
            </div>
            <div class="col s8 m4 l4">
              {{ i.servicio.descripcion }}
            </div>
          </div>
          <div class="row">
            <div class="col s4 m2 l2 label-consulta">
              Mes servicio:
            </div>
            <div class="col s8 m4 l4">
              {{ i.mes_servicio }}
            </div>
          </div>
          <div class="row">
            <div class="col s4 m2 l2 label-consulta">
              Usuario:
            </div>
            <div class="col s8 m4 l4">
              {{ i.usuario.first_name }}
            </div>
            <div class="col s4 m2 l2 label-consulta">
              Fecha registro:
            </div>
            <div class="col s8 m4 l4">
              {{ i.fecha_registro }}
            </div>
          </div>
        </div>
      {% endfor %}
    </li>
    {% if data_devolucion %}
      <li>
        <div class="collapsible-header active">
          <i class="material-icons">autorenew</i>Devoluciones
        </div>
        {% for i in data_devolucion %}
          <div class="collapsible-body campos-consulta">
            <div class="row">
              <div class="col s4 m2 l2 label-consulta">
                ID:
              </div>
              <div class="col s8 m4 l4">
                {{ i.id }}
              </div>
              <div class="col s4 m2 l2 label-consulta">
                Fecha devolución:
              </div>
              <div class="col s8 m4 l4">
                {{ i.fecha_devolucion }}
              </div>
            </div>
            <div class="row">
              <div class="col s4 m2 l2 label-consulta">
                Estado:
              </div>
              <div class="col s8 m4 l4">
                {{ i.estado.descripcion }}
              </div>
              <div class="col s4 m2 l2 label-consulta">
                Codigo Devolución:
              </div>
              <div class="col s8 m4 l4">
                {{ i.causal.codigo }}
              </div>
            </div>
            <div class="row">
              <div class="col s4 m2 l2 label-consulta">
                Causal:
              </div>
              <div class="col s8 m4 l4">
                {{ i.causal.descripcion }}
              </div>
              <div class="col s4 m2 l2 label-consulta">
                Detalle:
              </div>
              <div class="col s8 m4 l4">
                {{ i.detalle }}
              </div>
            </div>
            <div class="row">
              <div class="col s4 m2 l2 label-consulta">
                Gestor:
              </div>
              <div class="col s8 m4 l4">
                {{ i.gestor.nombre }}
              </div>
              <div class="col s4 m2 l2 label-consulta">
                Fecha remitido:
              </div>
              <div class="col s8 m4 l4">
                {{ i.fecha_remitido }}
              </div>
            </div>
            <div class="row">
              <div class="col s4 m2 l2 label-consulta">
                Gestión:
              </div>
              <div class="col s8 m4 l4">
                {{ i.gestion }}
              </div>
              <div class="col s4 m2 l2 label-consulta">
                Fecha gestión:
              </div>
              <div class="col s8 m4 l4">
                {{ i.fecha_gestion }}
              </div>
            </div>
          </div>
        {% endfor %}
      </li>
    {% endif %}
    {% if data_glosa %}
    <li>
      <div class="collapsible-header active">
        <i class="material-icons">update</i>Glosas
      </div>
      {% for i in data_glosa %}
        <div class="collapsible-body campos-consulta">
          <div class="row">
            <div class="col s4 m2 l2 label-consulta">
              ID:
            </div>
            <div class="col s8 m4 l4">
              {{ i.id }}
            </div>
            <div class="col s4 m2 l2 label-consulta">
              Fecha glosa:
            </div>
            <div class="col s8 m4 l4">
              {{ i.fecha_glosa }}
            </div>
          </div>
          <div class="row">
            <div class="col s4 m2 l2 label-consulta">
              Estado:
            </div>
            <div class="col s8 m4 l4">
              {{ i.estado.descripcion }}
            </div>
            <div class="col s4 m2 l2 label-consulta">
              Codigo Glosa:
            </div>
            <div class="col s8 m4 l4">
              {{ i.causal.codigo }}
            </div>
          </div>
          <div class="row">
            <div class="col s4 m2 l2 label-consulta">
              Causal:
            </div>
            <div class="col s8 m4 l4">
              {{ i.causal.descripcion }}
            </div>
            <div class="col s4 m2 l2 label-consulta">
              Detalle:
            </div>
            <div class="col s8 m4 l4">
              {{ i.detalle }}
            </div>
          </div>
          <div class="row">
            <div class="col s4 m2 l2 label-consulta">
              Valor glosado:
            </div>
            <div class="col s8 m4 l4">
              {{ i.valor_glosa|intcomma }}
            </div>
            <div class="col s4 m2 l2 label-consulta">
              Saldo glosa:
            </div>
            <div class="col s8 m4 l4">
              {{ i.saldo_glosa|intcomma }}
            </div>
          </div>
          <div class="row">
            <div class="col s4 m2 l2 label-consulta">
              Gestor:
            </div>
            <div class="col s8 m4 l4">
              {{ i.gestor.nombre }}
            </div>
            <div class="col s4 m2 l2 label-consulta">
              Fecha remitido:
            </div>
            <div class="col s8 m4 l4">
              {{ i.fecha_remitido }}
            </div>
          </div>
          <div class="row">
            <div class="col s4 m2 l2 label-consulta">
              Gestión:
            </div>
            <div class="col s8 m4 l4">
              {{ i.gestion }}
            </div>
            <div class="col s4 m2 l2 label-consulta">
              Fecha gestión:
            </div>
            <div class="col s8 m4 l4">
              {{ i.fecha_gestion }}
            </div>
          </div>
          <div class="row">
            <div class="col s4 m2 l2 label-consulta">
              Fecha maxima respuesta:
            </div>
            <div class="col s8 m4 l4">
              {{ i.fecha_max_respuesta }}
            </div>
            <div class="col s4 m2 l2 label-consulta">
              Extemporanea:
            </div>
            <div class="col s8 m4 l4">
              {{ i.extemporaneidad }}
            </div>
          </div>
          <div class="row">
            <div class="col s4 m2 l2 label-consulta">
              Fecha registro de glosa:
            </div>
            <div class="col s8 m4 l4">
              {{ i.fecha_registro }}
            </div>
            <div class="col s4 m2 l2 label-consulta">
              Registrada por:
            </div>
            <div class="col s8 m4 l4">
              {{ i.usuario.first_name }}
            </div>
          </div>
          <div class="row">
            <div class="col s4 m2 l2 label-consulta">
              Respuesta:
            </div>
            <div class="col s8 m4 l4">
              {{ i.glosarespuesta.respuesta.id }}
            </div>
            <div class="col s4 m2 l2 label-consulta">
              Fecha respuesta:
            </div>
            <div class="col s8 m4 l4">
              {{ i.glosarespuesta.respuesta.fecha_respuesta }}
            </div>
          </div>
          <div class="row">
            <div class="col s4 m2 l2 label-consulta">
              Gestion:
            </div>
            <div class="col s8 m4 l4">
              {{ i.glosarespuesta.gestion }}
            </div>
            <div class="col s4 m2 l2 label-consulta">
              Aceptado IPS en respuesta:
            </div>
            <div class="col s8 m4 l4">
              {{ i.glosarespuesta.aceptado_ips|intcomma }}
            </div>
          </div>
          <div class="row">
            <div class="col s4 m2 l2 label-consulta">
              Codigo Respuesta:
            </div>
            <div class="col s8 m4 l4">
              {{ i.glosarespuesta.codigo_respuesta }}
            </div>
            <div class="col s4 m2 l2 label-consulta">
              Respuesta realizada por:
            </div>
            <div class="col s8 m4 l4">
              {{ i.glosarespuesta.respuesta.usuario.first_name }}
            </div>
          </div>
          <div class="row">
            <div class="col s4 m2 l2 label-consulta">
              Fecha actualización:
            </div>
            <div class="col s8 m4 l4">
              {{ i.glosaactualizacion.fecha_actualizacion }}
            </div>
            <div class="col s4 m2 l2 label-consulta">
              Detalle actualización:
            </div>
            <div class="col s8 m4 l4">
              {{ i.glosaactualizacion.gestion }}
            </div>
          </div>
          <div class="row">
            <div class="col s4 m2 l2 label-consulta">
              Actualizada por:
            </div>
            <div class="col s8 m4 l4">
              {{ i.glosaactualizacion.usuario.first_name }}
            </div>
            <div class="col s4 m2 l2 label-consulta">
              Aceptado en actualización:
            </div>
            <div class="col s8 m4 l4">
              {{ i.glosaactualizacion.aceptado_ips|intcomma }}
            </div>
          </div>
          <div class="row">
            <div class="col s4 m2 l2 label-consulta">
              Fecha maxima respuesta a ratificacion:
            </div>
            <div class="col s8 m4 l4">
              {{ i.fecha_max_respuesta_rat }}
            </div>
            <div class="col s4 m2 l2 label-consulta">
              Fecha ratificacion:
            </div>
            <div class="col s8 m4 l4">
              {{ i.fecha_ratificacion }}
            </div>
          </div>
        </div>
      {% endfor %}
    </li>
    {% endif %}
  </ul>
  </div>
{% endblock %}
{% block scripts %}
  <script src="{% static 'stc/js/consulta.js' %}"></script>
{% endblock %}



















