{% extends "stc/layout.html" %}
{% load static %}
{% load humanize %}
{% load i18n %}
{% block titulo_page %}
  Devoluciones
{% endblock %}
{% block titulo_body %}
  <a class="left bot-atras" href="{% url 'stc:devoluciones' %}">
    <i class="material-icons">arrow_back</i>
  </a>
  <a class="brand-logo">Devoluciones</a>
{% endblock %}
{% block shortcuts %}
{% endblock %}
{% block opciones %}
  <li><a href="{% url 'stc:devoluciones' %}">Dash</a></li>
  <li><a href="{% url 'stc:dev_agregar' %}">Agregar</a></li>
  <li><a href="{% url 'stc:dev_gestion' %}">Eliminar</a></li>
  <li><a href="{% url 'stc:dev_remision' %}">Remitir</a></li>
{% endblock %}
{% block breadcrumb %}
  <a href="{% url 'stc:inicio' %}" class="breadcrumb">STC</a>
  <a href="{% url 'stc:devoluciones' %}" class="breadcrumb">Devoluciones</a>
  <a class="breadcrumb">Actualizacion</a>
{% endblock %}
{% block body %}
  <form id="formulario" action="{% url 'stc:dev_actualizacion' %}" method="POST" class="white z-depth-1 form-mini">
    {% csrf_token %}
    <div class="row container-mini form-main">
      <div class="input-field col s12 m6 l6">
        <input id="factura" name="factura" type="text" class="validate" autocomplete="off" required>
        <label for="factura">Factura</label>
      </div>
      <div class="input-field col s12 m6 l6">
        <input id="id_registro" name="id_registro" type="text" class="validate" autocomplete="off" readonly>
        <label for="id_registro">Devolución</label>
      </div>
      <div class="input-field col s12">
        <select id="estado" name="estado">
          {% for i in estados %}
            <option value="{{ i.descripcion }}">{{ i.descripcion }}</option>
          {% endfor %}
        </select>
        <label>Estado</label>
      </div>
      <div class="input-field col s12 m6 l6">
        <input type="date" id="fecha_gestion" name="fecha_gestion" >
        <label for="fecha_gestion" class="active">Fecha gestión</label>
      </div>
      <div class="col s12 m6 l6">
        <div class="switch">
          <label>
            <input type="checkbox" id="fisico" name="fisico" value="1" checked>
            <span class="lever"></span>
            Fisico
          </label>
        </div>
      </div>
      <div class="input-field col s12">
        <input id="gestion" name="gestion" type="text" class="validate" autocomplete="off">
        <label for="gestion">Gestion</label>
      </div>
    </div>
    <div class="row form-bot">
      <div class="col s12 center">
        <button id="buscar" name="submit" value="buscar" class="waves-effect waves-light grey lighten-3 black-text btn"><i class="material-icons left">search</i>Buscar</button>
        <button id="eliminar" name="submit" value="actualizar" class="waves-effect waves-light blue btn" style="margin-left:20px"><i class="material-icons left">update</i>Actualizar</button>
      </div>
    </div>
  </form>
  <div class="row dash-cont">
    <table class="bordered responsive-table highlight" id="dash">
      <thead>
        <tr>
          <th data-field="id">ID</th>
          <th data-field="factura">FACTURA</th>
          <th data-field="empresa">EMPRESA</th>
          <th data-field="convenio">CONVENIO</th>
          <th data-field="fecha_dev">FECHA DEV</th>
          <th data-field="valor">VALOR</th>
          <th data-field="estado">ESTADO</th>
          <th data-field="fisico">FISICO</th>
        </tr>
      </thead>
      <tbody>
        {% for i in ult_reg %}
          <tr onclick="getRow(this)">
            <td>{{ i.id }}</td>
            <td>{{ i.factura }}</td>
            <td>{{ i.empresa.nombre }}</td>
            <td>{{ i.convenio.nombre }}</td>
            <td>{{ i.fecha_devolucion|date:"Y-m-d" }}</td>
            <td>{{ i.valor_factura|intcomma }}</td>
            <td>{{ i.estado.descripcion }}</td>
            <td>{{ i.en_fisico }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
{% block scripts %}
  <script src="{% static 'stc/js/dev_actualizacion.js' %}"></script>
{% endblock %}