{% extends "stc/layout.html" %}
{% load static %}
{% load humanize %}
{% load i18n %}
{% block titulo_page %}
  Devoluciones
{% endblock %}
{% block titulo_body %}
  <a class="left bot-atras" href="{% url 'stc:devoluciones' %}">
    <i class="material-icons">arrow_back</i>
  </a>
  <a class="brand-logo">Devoluciones</a>
{% endblock %}
{% block shortcuts %}
  <a class="right opciones" href="{% url 'stc:dev_gestion' %}"><i class="material-icons right">delete</i></a>
{% endblock %}
{% block opciones %}
  <li><a href="{% url 'stc:devoluciones' %}">Dash</a></li>
  <li><a href="{% url 'stc:dev_gestion' %}">Eliminar</a></li>
  <li><a href="{% url 'stc:dev_remision' %}">Remitir</a></li>
  <li><a href="{% url 'stc:dev_actualizacion' %}">Actualizar</a></li>
{% endblock %}
{% block breadcrumb %}
  <a href="{% url 'stc:inicio' %}" class="breadcrumb">STC</a>
  <a href="{% url 'stc:devoluciones' %}" class="breadcrumb">Devoluciones</a>
  <a class="breadcrumb">Registrar</a>
{% endblock %}
{% block body %}
  <form id="formulario" action="{% url 'stc:dev_agregar' %}" method="POST" class="white z-depth-1 form-container">
    {% csrf_token %}
    <div class="row form-main">
      <div class="input-field col s6 m4 l4">
        <input id="factura" name="factura" type="text" class="validate" autocomplete="off" required autofocus>
        <label for="factura">Factura</label>
      </div>
      <div class="input-field col s12 m8 l8">
        <select id="empresa" name="empresa">
          {% for i in empresas %}
            {% if i.nombre ==  pre_empresa %}
              <option selected value="{{ i.nombre }}">{{ i.nombre }}</option>
            {% else %} 
              <option value="{{ i.nombre }}">{{ i.nombre }}</option>
            {% endif %}
          {% endfor %}
        </select>
        <label>Empresa</label>
      </div>
      <div class="input-field col s12 m12 l12">
        <input type="text" id="convenio" name="convenio" class="autocomplete" autocomplete="off" value="{{ pre_convenio }}">
        <label for="convenio">Convenio</label>
      </div>
      <div class="input-field col s6 m4 l4">
        <input type="date" id="fecha_devolucion" name="fecha_devolucion" >
        <label for="fecha_devolucion" class="active">Fecha devolución</label>
      </div>
      <div class="input-field col s6 m4 l4">
        <input id="valor_factura" name="valor_factura" type="number" class="validate">
        <label for="valor_factura">Valor factura</label>
      </div>
      <div class="input-field col s6 m4 l4">
        <input type="text" id="causal" name="causal" class="autocomplete" autocomplete="off">
        <label for="causal">Causal</label>
      </div>
      <div class="input-field col s12 m6 l6">
        <input id="detalle" name="detalle" type="text" class="validate" autocomplete="off">
        <label for="detalle">Detalle</label>
      </div>
      <div class="input-field col s6 m3 l4">
        <select id="gestor" name="gestor">
          {% for i in gestores %}
            <option value="{{ i.nombre }}">{{ i.nombre }}</option>
          {% endfor %}
        </select>
        <label>Gestores</label>
      </div>
      <div class="col s6 m3 l2">
        <div class="switch">
          <label>
            <input type="checkbox" id="fisico" name="fisico" value="1" checked>
            <span class="lever"></span>
            Fisico
          </label>
        </div>
      </div>
    </div>
    <div class="row form-bot">
      <div class="col s12 center">
        <button id="registrar" class="waves-effect waves-light blue btn"><i class="material-icons left">send</i>Registrar</button>
      </div>
    </div>
  </form>
  <div class="row dash-cont">
    <table class="bordered responsive-table highlight">
      <thead>
        <tr>
          <th data-field="id">ID</th>
          <th data-field="factura">FACTURA</th>
          <th data-field="empresa">EMPRESA</th>
          <th data-field="convenio">CONVENIO</th>
          <th data-field="fecha_dev">FECHA DEV</th>
          <th data-field="valor">VALOR</th>
          <th data-field="estado">ESTADO</th>
        </tr>
      </thead>
      <tbody>
        {% for i in ult_reg %}
          <tr>
            <td>{{ i.id }}</td>
            <td>{{ i.factura }}</td>
            <td>{{ i.empresa.nombre }}</td>
            <td>{{ i.convenio.nombre }}</td>
            <td>{{ i.fecha_devolucion|date:"Y-m-d" }}</td>
            <td>{{ i.valor_factura|intcomma }}</td>
            <td>{{ i.estado.descripcion }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large blue">
      <i class="material-icons">menu</i>
    </a>
    <ul>
      <li><a class="btn-floating green" href="{% url 'stc:dev_agregar' %}"><i class="material-icons">add</i></a></li>
      <li><a class="btn-floating red" href="{% url 'stc:dev_gestion' %}"><i class="material-icons">delete</i></a></li>
      <li><a class="btn-floating blue" href="{% url 'stc:dev_remision' %}"><i class="material-icons">forward</i></a></li>
      <li><a class="btn-floating yellow darken-1" href="{% url 'stc:dev_actualizacion' %}"><i class="material-icons">update</i></a></li>
    </ul>
  </div>
{% endblock %}
{% block scripts %}
<script src="{% static 'stc/js/dev_agregar.js' %}"></script>
<script>
  $(document).ready(function() {
    $('#convenio').autocomplete({
      data: {
        {% for i in convenios %}
          "{{i.nombre}}": null,
        {% endfor %}
      }
    });
    $('#causal').autocomplete({
      data: {
        {% for i in causales %}
          "{{i.codigo}}": null,
        {% endfor %}
      }
    });
  });
</script>
{% if pre_fecha_radicacion %}
  <script>
    document.getElementById("fecha_radicacion").value = "{{ pre_fecha_radicacion }}";
  </script>
{% endif %}
{% endblock %}