{% extends "stc/layout.html" %}
{% load static %}
{% load humanize %}
{% load i18n %}
{% block titulo_page %}
  Devoluciones
{% endblock %}
{% block titulo_body %}
  <a class="left bot-atras" href="{% url 'stc:devoluciones' %}">
    <i class="material-icons">arrow_back</i>
  </a>
  <a class="brand-logo">Devoluciones</a>
{% endblock %}
{% block shortcuts %}
{% endblock %}
{% block opciones %}
  <li><a href="{% url 'stc:devoluciones' %}">Dash</a></li>
  <li><a href="{% url 'stc:dev_agregar' %}">Agregar</a></li>
  <li><a href="{% url 'stc:dev_gestion' %}">Eliminar</a></li>
  <li><a href="{% url 'stc:dev_actualizacion' %}">Actualizar</a></li>
{% endblock %}
{% block breadcrumb %}
  <a href="{% url 'stc:inicio' %}" class="breadcrumb">STC</a>
  <a href="{% url 'stc:devoluciones' %}" class="breadcrumb">Devoluciones</a>
  <a class="breadcrumb">Remisión</a>
{% endblock %}
{% block body %}
  <form id="formulario" action="{% url 'stc:dev_remision' %}" method="POST" class="white z-depth-1 form-mini">
    {% csrf_token %}
    <div class="row container form-main">
      <div class="input-field col s12 m12 l12">
        <select id="gestor" name="gestor">
          {% for i in gestores %}
            <option value="{{ i.nombre }}">{{ i.nombre }}</option>
          {% endfor %}
        </select>
        <label>Gestores</label>
      </div>
    </div>
    <div class="row form-bot">
      <div class="col s12 center">
        <button id="buscar" name="submit" value="buscar" class="waves-effect waves-light grey lighten-3 black-text btn"><i class="material-icons left">search</i>Buscar</button>
        <button id="eliminar" name="submit" value="remitir" class="waves-effect waves-light green btn" style="margin-left:20px"><i class="material-icons left">forward</i>Remitir</button>
      </div>
    </div>
  </form>
  {% if pendientes %}
    <div class="row dash-cont">
      <table class="bordered responsive-table highlight" id="dash">
        <thead>
          <tr>
            <th data-field="id">ID</th>
            <th data-field="factura">FACTURA</th>
            <th data-field="empresa">EMPRESA</th>
            <th data-field="convenio">CONVENIO</th>
            <th data-field="fecha_dev">FECHA DEV</th>
            <th data-field="valor">VALOR</th>
            <th data-field="estado">ESTADO</th>
          </tr>
        </thead>
        <tbody>
          {% for i in pendientes %}
            <tr>
              <td>{{ i.id }}</td>
              <td>{{ i.factura }}</td>
              <td>{{ i.empresa.nombre }}</td>
              <td>{{ i.convenio.nombre }}</td>
              <td>{{ i.fecha_devolucion|date:"Y-m-d" }}</td>
              <td>{{ i.valor_factura|intcomma }}</td>
              <td>{{ i.estado.descripcion }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% endif %}
{% endblock %}
{% block scripts %}
  {% if gestor %}
    <script>
      $(document).ready(function() {
        $("#gestor").val("{{ gestor }}");
        $('select').material_select();
      });
    </script>
  {% endif %}
{% endblock %}