{% extends "stc/layout.html" %}
{% load static %}
{% load humanize %}
{% block title_head %}
  Actualizacion de devoluciones
{% endblock %}
{% block title_body %}
  ACTUALIZACION DE DEVOLUCIONES
{% endblock %}
{% block body %}
<div>
    <center>
      <form class="form-radicacion" id="formRadicacion" action="{% url 'stc:dev_actualizacion' %}" method="post">
        {% csrf_token %}
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="margin-right:210px; width:150px" onclick="limpiarInput('factura')">
          <input class="mdl-textfield__input" type="text" id="factura" name="factura" />
          <label class="mdl-textfield__label" for="factura" required>Factura</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="margin-right:90px; width:100px">
          <input class="mdl-textfield__input" type="text" id="id_registro" name="id_registro" readonly="readonly" />
          <label class="mdl-textfield__label" for="id_registro" required>ID Registro</label>
        </div>
        <br>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="margin-right:60px;">
          <select class="mdl-textfield__input" id="estado" name="estado" required> 
            <option>RADICADA</option> 
            <option>REEMPLAZADA</option> 
            <option>ACEPTADA</option> 
            <option selected>REGISTRADA</option> 
            <option>EN REVISION</option> 
          </select>
          <label class="mdl-textfield__label" for="estado">Estado</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="margin-right:20px;width:175px">
          <input class="mdl-textfield__input" type="date" id="fecha_gestion" name="fecha_gestion" required/>
          <label class="mdl-textfield__label" for="fecha_gestion">Fecha de gestión</label>
        </div>
        <br>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width:550px; ">
            <textarea class="mdl-textfield__input" type="text" rows= "2" id="gestion" name="gestion" ></textarea>
            <label class="mdl-textfield__label" for="gestion">Gestión</label>
          </div>
        <br>
        <div class="botones-dev">
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect" value="actualizar" name="submit">Actualizar</button>
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" name="submit" value="buscar" style="margin-left: 20px">Buscar</button>
        </div>
      </form>
    </center> 
  </div>
{% endblock %}
{% block body2 %}
  <div class="demo-container mdl-grid" style="margin-top: 0vh">
    <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone" style="width:5%"></div>
    <div class="demo-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col" style="width:85%">
      <table class="mdl-data-table mdl-js-data-table full-table" name="dash" id="dash" style="width:100%">
        <thead>
          <tr>
            <th class="mdl-data-table__cell--non-numeric head-table" style="color:#ffffff">ID</th>
            <th class="mdl-data-table__cell--non-numeric head-table" style="color:#ffffff">FACTURA</th>
            <th class="mdl-data-table__cell--non-numeric head-table" style="color:#ffffff">EMPRESA</th>
            <th class="mdl-data-table__cell--non-numeric head-table" style="color:#ffffff">CONVENIO</th>
            <th class="mdl-data-table__cell--non-numeric head-table" style="color:#ffffff">FECHA DEV</th>
            <th class="head-table" style="color:#ffffff">VALOR</th>
            <th class="mdl-data-table__cell--non-numeric head-table" style="color:#ffffff">ESTADO</th>
          </tr>
        </thead>
        <tbody>
          {% for reg in last_registros %}
            <tr onclick="getRow(this)">
              <td class="mdl-data-table__cell--non-numeric">{{ reg.id }}</td>
              <td class="mdl-data-table__cell--non-numeric">{{ reg.factura }}</td>
              <td class="mdl-data-table__cell--non-numeric">{{ reg.empresa.id }}</td>
              <td class="mdl-data-table__cell--non-numeric">{{ reg.convenio.nombre }}</td>
              <td class="mdl-data-table__cell--non-numeric">{{ reg.fecha_devolucion }}</td>
              <td>{{ reg.valor_factura|intcomma }}</td>
              <td class="mdl-data-table__cell--non-numeric">{{ reg.estado.descripcion }}</td>
            </tr>
          {% endfor %}        
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
{% block script %}
  <script type="text/javascript" src="{% static 'stc/dev_actualizacion.js' %}"></script> 
{% endblock %}