{% extends "stc/layout.html" %}
{% load static %}
{% load humanize %}
{% load i18n %}
{% block titulo_page %}
  Devoluciones
{% endblock %}
{% block titulo_body %}
  <a class="left bot-atras" href="{% url 'stc:inicio' %}">
    <i class="material-icons">arrow_back</i>
  </a>
  <a class="brand-logo">Devoluciones</a>
{% endblock %}
{% block opciones %}
  <li><a href="{% url 'stc:dev_agregar' %}">Agregar</a></li>
  <li><a href="{% url 'stc:dev_gestion' %}">Eliminar</a></li>
  <li><a href="{% url 'stc:dev_remision' %}">Remitir</a></li>
  <li><a href="{% url 'stc:dev_actualizacion' %}">Actualizar</a></li>
{% endblock %}
{% block breadcrumb %}
  <a href="{% url 'stc:inicio' %}" class="breadcrumb">STC</a>
  <a class="breadcrumb">Devoluciones</a>
{% endblock %}
{% block body %}
  {% language 'es' %}
    <div class="container">
      <table class="bordered responsive-table highlight">
        <thead>
          <tr>
            <th data-field="id">ID</th>
            <th data-field="factura">FACTURA</th>
            <th data-field="empresa">EMPRESA</th>
            <th data-field="convenio">CONVENIO</th>
            <th data-field="fecha_dev">FECHA DEV</th>
            <th data-field="valor">VALOR</th>
            <th data-field="estado">ESTADO</th>
          </tr>
        </thead>
        <tbody>
          {% for i in ult_reg %}
            <tr>
              <td>{{ i.id }}</td>
              <td>{{ i.factura }}</td>
              <td>{{ i.empresa.nombre }}</td>
              <td>{{ i.convenio.nombre }}</td>
              <td>{{ i.fecha_devolucion|date:"Y-m-d" }}</td>
              <td>{{ i.valor_factura|intcomma }}</td>
              <td>{{ i.estado.descripcion }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
      <a class="btn-floating btn-large blue">
        <i class="material-icons">menu</i>
      </a>
      <ul>
        <li><a class="btn-floating green" href="{% url 'stc:dev_agregar' %}"><i class="material-icons">add</i></a></li>
        <li><a class="btn-floating red" href="{% url 'stc:dev_gestion' %}"><i class="material-icons">delete</i></a></li>
        <li><a class="btn-floating blue" href="{% url 'stc:dev_remision' %}"><i class="material-icons">forward</i></a></li>
        <li><a class="btn-floating yellow darken-1" href="{% url 'stc:dev_actualizacion' %}"><i class="material-icons">update</i></a></li>
      </ul>
    </div>
  {% endlanguage %}
{% endblock %}