{% extends "stc/layout.html" %}
{% load static %}
{% load humanize %}
{% load i18n %}
{% block titulo_page %}
  Glosas
{% endblock %}
{% block titulo_body %}
  <a class="left bot-atras" href="{% url 'stc:glosas' %}">
    <i class="material-icons">arrow_back</i>
  </a>
  <a class="brand-logo">Glosas</a>
{% endblock %}
{% block shortcuts %}
  <a class="right opciones" href="{% url 'stc:gl_gestion' %}"><i class="material-icons right">delete</i></a>
{% endblock %}
{% block opciones %}
  <li><a href="{% url 'stc:glosas' %}">Dash</a></li>
  <li><a href="{% url 'stc:gl_gestion' %}">Eliminar</a></li>
  <li><a href="{% url 'stc:gl_remision' %}">Remitir</a></li>
  <li><a href="{% url 'stc:gl_resp_agregar' %}">Respuesta</a></li>
  <li><a href="{% url 'stc:gl_actualizacion' %}">Actualización</a></li>
{% endblock %}
{% block breadcrumb %}
  <a href="{% url 'stc:inicio' %}" class="breadcrumb">STC</a>
  <a href="{% url 'stc:devoluciones' %}" class="breadcrumb">Glosas</a>
  <a class="breadcrumb">Registrar</a>
{% endblock %}
{% block body %}
  <form id="formulario" action="{% url 'stc:gl_agregar' %}" method="POST" class="white z-depth-1 form-container">
    {% csrf_token %}
    <div class="row form-main">
      <div class="input-field col s6 m4 l4">
        <input id="factura" name="factura" type="text" class="validate" autocomplete="off" required autofocus>
        <label for="factura">Factura</label>
      </div>
      <div class="input-field col s12 m8 l8">
        <select id="empresa" name="empresa">
          {% for i in empresas %}
            {% if i.nombre ==  pre_empresa %}
              <option selected value="{{ i.nombre }}">{{ i.nombre }}</option>
            {% else %} 
              <option value="{{ i.nombre }}">{{ i.nombre }}</option>
            {% endif %}
          {% endfor %}
        </select>
        <label>Empresa</label>
      </div>
      <div class="input-field col s12 m9 l9">
        <input type="text" id="convenio" name="convenio" class="autocomplete" autocomplete="off" value="{{ pre_convenio }}" required>
        <label for="convenio">Convenio</label>
      </div>
      <div class="input-field col s6 m3 l3">
        <input id="valor_factura" name="valor_factura" type="number" class="validate">
        <label for="valor_factura">Valor factura</label>
      </div>
      <div class="input-field col s6 m4 l4">
        <input type="date" id="fecha_glosa" name="fecha_glosa" >
        <label for="fecha_glosa" class="active">Fecha glosa</label>
      </div>
       <div class="input-field col s6 m4 l4">
        <input id="valor_glosa" name="valor_glosa" type="number" class="validate" required>
        <label for="valor_glosa">Valor glosa</label>
      </div>
      <div class="input-field col s6 m4 l4">
        <input type="text" id="causal" name="causal" class="autocomplete" autocomplete="off" required>
        <label for="causal">Causal</label>
      </div>
      <div class="input-field col s12 m8 l8">
        <input id="detalle" name="detalle" type="text" class="validate" autocomplete="off">
        <label for="detalle">Detalle</label>
      </div>
      <div class="input-field col s6 m4 l4">
        <select id="gestor" name="gestor">
          {% for i in gestores %}
            <option value="{{ i.nombre }}">{{ i.nombre }}</option>
          {% endfor %}
        </select>
        <label>Gestores</label>
      </div>
    </div>
    <div class="row form-bot">
      <div class="col s12 center">
        <button id="registrar" class="waves-effect waves-light blue btn"><i class="material-icons left">send</i>Registrar</button>
      </div>
    </div>
  </form>
  <div class="row cont-grande">
    <table class="bordered responsive-table highlight" id="dash">
      <thead>
        <tr>
          <th>ID</th>
          <th>FACTURA</th>
          <th>EMPRESA</th>
          <th>CONVENIO</th>
          <th>FECHA GL</th>
          <th>EXTEMP</th>
          <th>VR GLOSA</th>
          <th>ESTADO</th>
        </tr>
      </thead>
      <tbody>
        {% for i in ult_reg %}
          <tr>
            <td>{{ i.id }}</td>
            <td>{{ i.factura }}</td>
            <td>{{ i.empresa.id }}</td>
            <td>{{ i.convenio.nombre }}</td>
            <td>{{ i.fecha_glosa|date:"Y-m-d" }}</td>
            <td>{{ i.extemporaneidad }}</td>
            <td>{{ i.valor_glosa|intcomma }}</td>
            <td>{{ i.estado.descripcion }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large blue">
      <i class="material-icons">menu</i>
    </a>
    <ul>
      <li><a class="btn-floating green" href="{% url 'stc:gl_agregar' %}"><i class="material-icons">add</i></a></li>
      <li><a class="btn-floating red" href="{% url 'stc:gl_gestion' %}"><i class="material-icons">delete</i></a></li>
      <li><a class="btn-floating blue" href="{% url 'stc:gl_remision' %}"><i class="material-icons">forward</i></a></li>
      <li><a class="btn-floating purple" href="{% url 'stc:dev_remision' %}"><i class="material-icons">mail</i></a></li>
      <li><a class="btn-floating yellow darken-1" href="{% url 'stc:gl_actualizacion' %}"><i class="material-icons">update</i></a></li>
    </ul>
  </div>
{% endblock %}
{% block scripts %}
  <script src="{% static 'stc/js/gl_agregar.js' %}"></script> 
  <script>
    $(document).ready(function() {
      $('#convenio').autocomplete({
        data: {
          {% for i in convenios %}
            "{{i.nombre}}": null,
          {% endfor %}
        }
      });
      $('#causal').autocomplete({
        data: {
          {% for i in causales %}
            "{{i.codigo}}": null,
          {% endfor %}
        }
      });
    });
  </script>
{% endblock %}