{% extends "stc/layout.html" %}
{% load static %}
{% load humanize %}
{% load i18n %}
{% block titulo_page %}
  Respuestas
{% endblock %}
{% block titulo_body %}
  <a class="left bot-atras" href="{% url 'stc:glosas' %}">
    <i class="material-icons">arrow_back</i>
  </a>
  <a class="brand-logo">Respuestas</a>
{% endblock %}
{% block opciones %}
{% endblock %}
{% block breadcrumb %}
  <a href="{% url 'stc:inicio' %}" class="breadcrumb">STC</a>
  <a href="{% url 'stc:glosas' %}" class="breadcrumb">Glosas</a>
  <a class="breadcrumb">Respuestas</a>
{% endblock %}
{% block body %}
  {% language 'es' %}
    <form id="formulario" action="{% url 'stc:gl_respuestas' %}" method="POST" class="white z-depth-1 form-mini">
      {% csrf_token %}
      <div class="row form-main">
        <div class="input-field col s12 m3 l3">
          <input id="valor_busqueda" name="valor_busqueda" type="text" class="validate" autocomplete="off">
        </div>
        <div class="input-field col s12 m5 l5">
          <select name="variable" id="variable">
          <option value="respuesta">RESPUESTA</option>
          <option value="factura">FACTURA</option>
          </select>
        </div>
        <div class="input-field col s12 m4 l4">
          <button id="buscar" name="submit" value="buscar" class="btn-flat waves-effect  waves-light"><i class="material-icons left">search</i>Filtrar</button>
        </div>
      </div>
    </form>
    <div class="row cont-grande">
      <table class="bordered responsive-table highlight" id="dash">
        <thead>
          <tr>
            <th>RESPUESTA</th>
            <th>EMPRESA</th>
            <th>CONVENIO</th>
            <th>FECHA RESPUESTA</th>
            <th>PROCESADA</th>
            <th>REFERENCIA</th>
          </tr>
        </thead>
        <tbody>
          {% for i in ult_reg %}
            <tr onclick="getConsulta(this)" style="cursor:pointer">
              <td>{{ i.id }}</td>
              <td>{{ i.empresa.nombre }}</td>
              <td>{{ i.convenio.nombre }}</td>
              <td>{{ i.fecha_respuesta|date:"Y-m-d" }}</td>
              <td>{{ i.procesada }}</td>
              <td>{{ i.referencia }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
      <a class="btn-floating btn-large blue" href="{% url 'stc:gl_resp_agregar' %}">
        <i class="large material-icons">add</i>
      </a>
    </div>
  {% endlanguage %}
{% endblock %}
{% block scripts %}
  <script src="{% static 'stc/js/gl_respuestas.js' %}"></script> 
{% endblock %}