{% extends "stc/layout.html" %}
{% load static %}
{% load humanize %}
{% load i18n %}
{% block titulo_page %}
  Glosas
{% endblock %}
{% block titulo_body %}
  <a class="left bot-atras" href="{% url 'stc:glosas' %}">
    <i class="material-icons">arrow_back</i>
  </a>
  <a class="brand-logo">Glosas</a>
{% endblock %}
{% block shortcuts %}
{% endblock %}
{% block opciones %}
  <li><a href="{% url 'stc:glosas' %}">Dash</a></li>
  <li><a href="{% url 'stc:gl_agregar' %}">Agregar</a></li>
  <li><a href="{% url 'stc:gl_gestion' %}">Eliminar</a></li>
  <li><a href="{% url 'stc:gl_resp_agregar' %}">Respuesta</a></li>
  <li><a href="{% url 'stc:gl_actualizacion' %}">Actualización</a></li>
{% endblock %}
{% block breadcrumb %}
  <a href="{% url 'stc:inicio' %}" class="breadcrumb">STC</a>
  <a href="{% url 'stc:glosas' %}" class="breadcrumb">Glosas</a>
  <a class="breadcrumb">Remisión</a>
{% endblock %}
{% block body %}
  <form id="formulario" action="{% url 'stc:gl_remision' %}" method="POST" enctype="multipart/form-data" class="white z-depth-1 form-mini">
    {% csrf_token %}
    <div class="row container form-main">
      <div class="input-field col s12 m12 l12">
        <select id="gestor" name="gestor">
          {% for i in gestores %}
            <option value="{{ i.nombre }}">{{ i.nombre }}</option>
          {% endfor %}
        </select>
        <label>Gestores</label>
      </div>
      <div class="file-field input-field col s12 m12 l12">
        <div class="blue btn">
          <span>Adjunto</span>
          <input type="file" name="adjunto">
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text">
        </div>
      </div>
    </div>
    <div class="row form-bot">
      <div class="col s12 center">
        <button id="buscar" name="submit" value="buscar" class="waves-effect waves-light grey lighten-3 black-text btn"><i class="material-icons left">search</i>Buscar</button>
        <button id="eliminar" name="submit" value="remitir" class="waves-effect waves-light green btn" style="margin-left:20px"><i class="material-icons left">forward</i>Remitir</button>
      </div>
    </div>
  </form>
  {% if pendientes %}
    <div class="row cont-grande">
    <table class="bordered responsive-table highlight" id="dash">
      <thead>
        <tr>
          <th>ID</th>
          <th>FACTURA</th>
          <th>EMPRESA</th>
          <th>CONVENIO</th>
          <th>FECHA GL</th>
          <th>EXTEMP</th>
          <th>VR GLOSA</th>
          <th>ESTADO</th>
        </tr>
      </thead>
      <tbody>
        {% for i in pendientes %}
          <tr>
            <td>{{ i.id }}</td>
            <td>{{ i.factura }}</td>
            <td>{{ i.empresa.id }}</td>
            <td>{{ i.convenio.nombre }}</td>
            <td>{{ i.fecha_glosa|date:"Y-m-d" }}</td>
            <td>{{ i.extemporaneidad }}</td>
            <td>{{ i.valor_glosa|intcomma }}</td>
            <td>{{ i.estado.descripcion }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% endif %}
{% endblock %}
{% block scripts %}
  {% if gestor %}
    <script>
      $(document).ready(function() {
        $("#gestor").val("{{ gestor }}");
        $('select').material_select();
      });
    </script>
  {% endif %}
{% endblock %}