{% extends "stc/layout.html" %}
{% load static %}
{% load humanize %}
{% load i18n %}
{% block titulo_page %}
  Glosas
{% endblock %}
{% block titulo_body %}
  <a class="left bot-atras" href="{% url 'stc:gl_respuestas' %}">
    <i class="material-icons">arrow_back</i>
  </a>
  <a class="brand-logo">Glosas</a>
{% endblock %}
{% block shortcuts %}
  {% if pre_respuesta.locked %}
    <a class="right opciones" href="#" onclick="imprimir()" ><i class="material-icons right">print</i></a>
  {% endif %}
{% endblock %}
{% block opciones %}
  <li><a href="{% url 'stc:glosas' %}">Dash</a></li>
  <li><a href="{% url 'stc:gl_agregar' %}">Agregar</a></li>
  <li><a href="{% url 'stc:gl_gestion' %}">Eliminar</a></li>
  <li><a href="{% url 'stc:gl_remision' %}">Remitir</a></li>
  <li><a href="{% url 'stc:gl_actualizacion' %}">Actualización</a></li>
  <li><a href="#" onclick="eliminar()">Eliminar</a></li>
{% endblock %}
{% block breadcrumb %}
  <a href="{% url 'stc:inicio' %}" class="breadcrumb">STC</a>
  <a href="{% url 'stc:glosas' %}" class="breadcrumb">Glosas</a>
  <a href="{% url 'stc:gl_respuestas' %}" class="breadcrumb">Respuestas</a>
  <a class="breadcrumb">Agregar</a>
{% endblock %}
{% block body %}
  <form id="formulario" action="{% url 'stc:gl_resp_agregar' %}" method="POST">
    <div class="white z-depth-1 form-container">
      {% csrf_token %}
      <div class="row form-main">
        <div class="input-field col s6 m3 l3">
          <input id="respuesta" name="respuesta" type="number" min="1" required autofocus {% if pre_respuesta %} value='{{ pre_respuesta.id }}' max="{{ pre_respuesta.id }}" readonly {% else %} value='{{ new_respuesta }}' max="{{ new_respuesta }}"{% endif %} >
          <label for="respuesta">Respuesta</label>
        </div>
        <div class="input-field col s12 m9 l9">
          <select id="empresa" name="empresa">
            {% if pre_respuesta %} 
              {% for i in empresas %}
                {% if i.nombre ==  pre_respuesta.empresa.nombre %}
                  <option selected value="{{ i.nombre }}">{{ i.nombre }}</option>
                {% endif %}
              {% endfor %} 
            {% else %}
              {% for i in empresas %}
                {% if i.nombre ==  pre_respuesta.empresa.nombre %}
                  <option selected value="{{ i.nombre }}">{{ i.nombre }}</option>
                {% else %} 
                  <option value="{{ i.nombre }}">{{ i.nombre }}</option>
                {% endif %}
              {% endfor %} 
            {% endif %} 
          </select>
          <label>Empresa</label>
        </div>
        <div class="input-field col s12 m8 l8">
          <input type="text" id="convenio" name="convenio" class="autocomplete" autocomplete="off" value="{{ pre_respuesta.convenio.nombre }}" {% if pre_respuesta %} readonly {% endif %}>
          <label for="convenio">Convenio</label>
        </div>
        <div class="input-field col s12 m4 l4">
          <input type="date" id="fecha_respuesta" name="fecha_respuesta" {% if pre_respuesta %} readonly {% endif %}>
          <label for="fecha_respuesta" class="active">Fecha respuesta</label>
        </div>
        <div class="input-field col s12">
          <input id="referencia" name="referencia" type="text" autocomplete="off" value="{{ pre_respuesta.referencia }}" {% if pre_respuesta %} readonly {% endif %}>
          <label for="referencia">Referencia</label>
        </div>
      </div>
      <div class="row form-bot">
        <div class="col s12 center">
          <button id="respuesta_reg" name="btn_submit" value="respuesta_reg" {% if band_detalle %} disabled {% endif %} class="waves-effect waves-light blue btn"><i class="material-icons left">note_add</i>Generar</button>
          <button id="respuesta_cons" name="btn_submit" value="respuesta_cons" class="waves-effect waves-light green btn" style="margin-left: 20px;"><i class="material-icons left">open_in_browser</i>Cargar</button>
          <button id="respuesta_proc" name="btn_submit" value="respuesta_proc" {% if pre_respuesta.locked %} disabled {% endif %} class="waves-effect waves-light deep-orange btn" style="margin-left: 20px"><i class="material-icons left">lock</i>Procesar</button>
        </div>
      </div>
    </div>
    {% if pre_respuesta %}
      <div class="row cont-grande">
        <table class="bordered responsive-table highlight" id="dash">
          <thead>
            <tr>
              <th>GLOSA</th>
              <th>FACTURA</th>
              <th>VR GLOSA</th>
              <th>EXTEMP</th>
              <th>ACEPTA IPS</th>
              <th>GESTION</th>
            </tr>
          </thead>
          <tbody>
            {% if not pre_respuesta.locked %}
              <tr>
                <td>
                  <select id="glosa" name="glosa" class="input-table">
                    <option value="" disabled selected>ID Glosa</option>
                    {% for i in glosas %}
                      <option value="{{ i.id }}">{{ i.id }} # {{ i.factura }}</option>
                    {% endfor %} 
                  </select>
                </td>
                <td>
                  <input type="text" id="factura" name="factura"  autocomplete="off" readonly> 
                </td>
                <td>
                  <input type="number" id="valor_glosa" name="valor_glosa"  readonly> 
                </td>
                <td>
                  <input type="text" id="extemporaneidad" name="extemporaneidad"  readonly> 
                </td>
                <td>
                  <input type="number" id="aceptado_ips" name="aceptado_ips" > 
                </td>
                <td style="width: 30%">
                  <input type="text" id="gestion" name="gestion" autocomplete="off" > 
                </td>
              </tr>
            {% endif %}
            {% for i in detallados %}
              <tr ondblclick="getRow(this)">
                <td>{{ i.glosa.id }}</td>
                <td>{{ i.glosa.factura }}</td>
                <td>{{ i.glosa.valor_glosa|intcomma }}</td>
                <td>{{ i.glosa.extemporaneidad }}</td>
                <td>{{ i.aceptado_ips|intcomma }}</td>
                <td>{{ i.gestion }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
        <button class="btn-floating btn-large blue" name="btn_submit" value="respuesta_det" href="{% url 'stc:rad_agregar' %}">
          <i class="large material-icons">send</i>
        </button>
      </div>
      <div id="modal1" class="modal">
        <div class="modal-content">
          <h4>Confirmación</h4>
          <p>Está a punto de eliminar el siguiente registro:</p>
          <input readonly id="num_glosa" name="num_glosa">
        </div>
        <div class="modal-footer">
            {% csrf_token %}
            <button href="#!" name="btn_submit" value="detalle_elim" class="modal-action red waves-effect waves-green btn-flat" style="margin-left:20px">Eliminar</button>
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
        </div>
      </div>
    {% endif %}
  </form>
{% endblock %}
{% block scripts %}
  <script src="{% static 'stc/js/gl_resp_agregar.js' %}"></script> 
  <script>
    $(document).ready(function() {
      {% if pre_respuesta %}
      {% else %}
        $('#convenio').autocomplete({
          data: {
            {% for i in convenios %}
              "{{i.nombre}}": null,
            {% endfor %}
          }
        });
      {% endif %}
    });
  </script>
  {% if pre_respuesta %}
  <script>
    document.getElementById("fecha_respuesta").value = "{{ pre_respuesta.fecha_respuesta }}";
  </script>
  {% endif %}
{% endblock %}