{% extends "stc/layout.html" %}
{% load static %}
{% load humanize %}
{% load i18n %}
{% block titulo_page %}
  Glosas
{% endblock %}
{% block titulo_body %}
  <a class="left bot-atras" href="{% url 'stc:inicio' %}">
    <i class="material-icons">arrow_back</i>
  </a>
  <a class="brand-logo">Glosas</a>
{% endblock %}
{% block opciones %}
  <li><a href="{% url 'stc:gl_agregar' %}">Agregar</a></li>
  <li><a href="{% url 'stc:gl_gestion' %}">Eliminar</a></li>
  <li><a href="{% url 'stc:gl_remision' %}">Remitir</a></li>
  <li><a href="{% url 'stc:gl_respuestas' %}">Respuesta</a></li>
  <li><a href="{% url 'stc:gl_actualizacion' %}">Actualización</a></li>
{% endblock %}
{% block breadcrumb %}
  <a href="{% url 'stc:inicio' %}" class="breadcrumb">STC</a>
  <a class="breadcrumb">Glosas</a>
{% endblock %}
{% block body %}
  {% language 'es' %}
    <div class="row cont-grande">
      <table class="bordered responsive-table highlight" id="dash">
        <thead>
          <tr>
            <th>ID</th>
            <th>FACTURA</th>
            <th>EMPRESA</th>
            <th>CONVENIO</th>
            <th>FECHA GL</th>
            <th>EXTEMP</th>
            <th>VR GLOSA</th>
            <th>ESTADO</th>
            <th>SALDO GLOSA</th>
          </tr>
        </thead>
        <tbody>
          {% for i in ult_reg %}
            <tr>
              <td>{{ i.id }}</td>
              <td>{{ i.factura }}</td>
              <td>{{ i.empresa.id }}</td>
              <td>{{ i.convenio.nombre }}</td>
              <td>{{ i.fecha_glosa|date:"Y-m-d" }}</td>
              <td>{{ i.extemporaneidad }}</td>
              <td>{{ i.valor_glosa|intcomma }}</td>
              <td>{{ i.estado.descripcion }}</td>
              <td>{{ i.saldo_glosa|intcomma }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
      <a class="btn-floating btn-large blue">
        <i class="material-icons">menu</i>
      </a>
      <ul>
        <li><a class="btn-floating green" href="{% url 'stc:gl_agregar' %}"><i class="material-icons">add</i></a></li>
        <li><a class="btn-floating red" href="{% url 'stc:gl_gestion' %}"><i class="material-icons">delete</i></a></li>
        <li><a class="btn-floating blue" href="{% url 'stc:gl_remision' %}"><i class="material-icons">forward</i></a></li>
        <li><a class="btn-floating purple" href="{% url 'stc:gl_respuestas' %}"><i class="material-icons">mail</i></a></li>
        <li><a class="btn-floating yellow darken-1" href="{% url 'stc:gl_actualizacion' %}"><i class="material-icons">update</i></a></li>
      </ul>
    </div>
  {% endlanguage %}
{% endblock %}