<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="utf-8">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static 'stc/css/materialize.min.css' %}"  media="all"/>
    <link type="text/css" rel="stylesheet" href="{% static 'stc/css/style.css' %}" media="all">
    <link rel="shortcut icon" href="{% static 'stc/images/icoGB.ico' %}">
    <title>
      {% block titulo_page %}
      {% endblock %}
    </title>
  </head>
  <body class="grey lighten-5">
    <header>
      <!-- Barra de navegacion fija -->
      <div class="navbar-fixed">
        <nav>
          <div class="nav-wrapper blue-grey darken-2">
            <a href="" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
            {% block titulo_body %}{% endblock %}
            <a class="dropdown-button right" href="#!" data-activates="opciones"><i class="material-icons right" style="margin-right: 20px">more_vert</i></a>
              <!-- listado de opciones principal -->
              <ul id="opciones" class="dropdown-content">
                {% block opciones %}
                {% endblock %}
                <li class="divider"></li>
                <li><a href="#">Configuración</a></li>
              </ul>
            {% block shortcuts %}
            {% endblock %}
            <form action="{% url 'stc:consulta' %}" class="right hide-on-med-and-down" id="consulta" method="POST">
              {% csrf_token %}
              <div class="input-field">
                <input id="search" name="factura" type="search" required autocomplete="off">
                <label for="search"><i class="material-icons">search</i></label>
                <i class="material-icons">close</i>
              </div>
            </form>
          </div>
        </nav>
      </div>
      <!-- Barra de navegacion lateral -->
      <ul id="slide-out" class="side-nav fixed">
        <li class="det-usuario">
          <!-- Panel de usuario -->
          <div class="row">
            <div class="col s4 center">
              <img src="{% static 'stc/images/icoGB.ico' %}" alt="" class="avatar">
            </div>
            <div class="col s8 center">
              {% if not request.user.is_authenticated %}
                <a class="btn-flat waves-effect waves-light white-text" href="{% url 'stc:login' %}" id="bot-usuario">Iniciar Sesion</a>
              {% else %}
                <a class="btn-flat dropdown-button waves-effect waves-light white-text" href="#" data-activates="profile-dropdown" id="bot-usuario">
                  {{ request.user.first_name }}
                </a>
                <!-- Lista de opciones de usuario -->
                <ul id="profile-dropdown" class="dropdown-content">
                  <li><a href="{% url 'stc:logout' %}" class="opc-usuario">Cerrar sesión</a></li>
                  <li><a class="opc-usuario">Cambiar clave</a></li>
                </ul>
              {% endif %}
            </div>
          </div>
        </li>
        <!-- Secciones -->
        <li><a class="subheader">MODULOS</a></li>
        <li id="mod_inicio"><a href="{% url 'stc:inicio' %}" class="waves-effect list-modulos"><i class="material-icons">home</i>Inicio</a></li>
        <li id="mod_radicacion"><a href="{% url 'stc:radicacion' %}" class="waves-effect"><i class="material-icons">input</i>Radicación</a></li>
        <li id="mod_devoluciones"><a href="{% url 'stc:devoluciones' %}" class="waves-effect"><i class="material-icons">autorenew</i>Devoluciones</a></li>
        <li id="mod_glosas"><a href="{% url 'stc:glosas' %}" class="waves-effect"><i class="material-icons">update</i>Glosas</a></li>
        <li id="mod_crm"><a href="#!" class="waves-effect"><i class="material-icons">work</i>CRM</a></li>
        <li id="mod_consulta"><a href="{% url 'stc:consulta' %}" class="waves-effect"><i class="material-icons">search</i>Consulta</a></li>
        <li id="mod_reportes"><a href="{% url 'stc:reportes' %}" class="waves-effect"><i class="material-icons">timeline</i>Reportes</a></li>
        <li><div class="divider"></div></li>
        <li><a class="subheader">ADMIN</a></li>
        <li><a href="/admin" class="waves-effect"><i class="material-icons">settings</i>Panel de control</a></li>
        <li><a href="#" class="waves-effect"><i class="material-icons">help_outline</i>Acerca de</a></li>
      </ul>
    </header>
    <nav class="hide-on-large-only blue">
      <div class="nav-wrapper">
        <form action="{% url 'stc:consulta' %}" method="POST">
          {% csrf_token %}
          <div class="input-field">
            <input id="search" type="search" name="factura" required>
            <label for="search"><i class="material-icons">search</i></label>
            <i class="material-icons">close</i>
          </div>
        </form>
      </div>
    </nav>
    <!-- Contenido -->
    <main>
      <nav class="breadcrumb-container">
        <div class="nav-wrapper ">
          <div class="col l6 m6 s12 valign-wrapper">
            {% block breadcrumb %}
            {% endblock %}
          </div>          
        </div>
      </nav>
      {% block body %}
      {% endblock %}
    </main>
    <!-- Seccion de scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'stc/js/materialize.min.js' %}"></script>
    <script src="{% static 'stc/js/layout.js' %}"></script>
    <script>
      {% for each in messages %}
        Materialize.toast('{{ each.message }}', 20000) 
      {% endfor %}
    </script>
    {% block scripts %}
    {% endblock %}
  </body>
</html>

