{% extends "stc/layout.html" %}
{% load static %}
{% load humanize %}
{% load i18n %}
{% block titulo_page %}
  Radicación
{% endblock %}
{% block titulo_body %}
  <a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" href="{% url 'stc:radicacion' %}">
    <i class="material-icons">arrow_back</i>
  </a>
  AGREGAR REGISTRO
{% endblock %}
{% block acciones %}
  <a class="action-button mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" href="{% url 'stc:rad_gestion' %}">
    <i class="material-icons">delete</i>
  </a> 
{% endblock %}
{% block body %}
{% language 'es' %}
  <form action="{% url 'stc:rad_agregar' %}" method="post">
    {% csrf_token %}
    <div class="mdl-grid content-form-agregar">
      <div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
        <div class="cell-head-form mdl-cell mdl-cell--4-col">
           <h5><img src="{% static 'stc/images/logoGB.png' %}" class="logo-form"></h5>
        </div>
        <div class="cell-head-form mdl-cell mdl-cell--8-col">
          <h5><b>Formato de registro de facturas radicadas</b></h5>
        </div>
        <div class="cell-form mdl-cell mdl-cell--5-col">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width:180px">
            <input class="mdl-textfield__input" type="text" id="factura" name="factura" autofocus required />
            <label class="mdl-textfield__label" for="factura" required>Factura</label>
          </div>
        </div>
        <div class="cell-form mdl-cell mdl-cell--7-col">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <select class="mdl-textfield__input" id="empresa" name="empresa" required> 
              {% for each in empresas %}
                {% if pre_empresa == each.nombre %}
                  <option selected>{{each.nombre}}</option>
                {% else %} 
                  <option>{{each.nombre}}</option>
                {% endif %}
              {% endfor %}  
            </select>
            <label class="mdl-textfield__label" for="empresa">Empresa</label>
          </div>
        </div>
        <div class="cell-form mdl-cell mdl-cell--10-col">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width:650px">
            <input class="mdl-textfield__input" type="text" id="convenio" name="convenio" list="lstConvenio" value="{{ pre_convenio }}" required/>
            <datalist name="lstConvenio" id="lstConvenio"> 
              {% for each in convenios %}
                <option value="{{ each.nombre }}">{{ each.nombre }}</option>
              {% endfor %}
            </datalist>
            <label class="mdl-textfield__label" for="convenio">Convenio</label>
          </div>
        </div>
        <div class="cell-form mdl-cell mdl-cell--5-col">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width:250px">
            <input class="mdl-textfield__input" type="date" id="fecha_radicacion" name="fecha_radicacion" required/>
            <label class="mdl-textfield__label" for="fecha_radicacion">Fecha de radicación</label>
          </div>
        </div>
        <div class="cell-form mdl-cell mdl-cell--3-col">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width:200px">
            <input class="mdl-textfield__input" type="number" id="valor_factura" name="valor_factura" required/>
            <label class="mdl-textfield__label" for="valor_factura">Valor factura</label>
          </div>
        </div>
        <div class="cell-form mdl-cell mdl-cell--4-col">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width:90px;">
            <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="tipo_contrato">
              <input type="checkbox" id="tipo_contrato" name="tipo_contrato" value="1" class="mdl-switch__input" />
              <span class="mdl-switch__label"><b>Capita</b></span>
            </label>
          </div>
        </div>
        <div class="cell-form mdl-cell mdl-cell--5-col">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width:400px;">
            <input class="mdl-textfield__input" type="text" id="servicio" name="servicio" list="lstServicio" />
            <datalist name="lstServicio" id="lstServicio"> 
              {% for each in servicios %}
                <option>{{ each.descripcion }}</option>
              {% endfor %}
            </datalist>
            <label class="mdl-textfield__label" for="servicio">Servicio</label>
          </div>
        </div>
        <div class="cell-form mdl-cell mdl-cell--7-col">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width:220px;">
            <input class="mdl-textfield__input" type="month" id="mes_servicio" name="mes_servicio" />
            <label class="mdl-textfield__label" for="mes_servicio">Mes prestación del servicio</label>
          </div>
        </div>
        <div class="cell mdl-cell mdl-cell--12-col">
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect" value="registrar">Registrar</button>
        </div>
        <div class="cell-form mdl-cell mdl-cell--12-col">
        </div>
      </div>
    </div>
  </form>
  <div class="mdl-grid content">
    <div class="mdl-cell mdl-cell--12-col mdl-grid">
      <table class="full-table mdl-data-table mdl-js-data-table mdl-shadow--2dp" id="dash">
        <thead>
          <tr>
            <th class="mdl-data-table__cell--non-numeric">FACTURA</th>
            <th class="mdl-data-table__cell--non-numeric">UNIDAD</th>
            <th class="mdl-data-table__cell--non-numeric">CONVENIO</th>
            <th class="mdl-data-table__cell--non-numeric">RADICADO</th>
            <th class="mdl-data-table__cell--non-numeric">CONTRATO</th>
            <th>VALOR</th>
          </tr>
        </thead>
        {% for reg in last_registros %}
            <tr>
              <td class="mdl-data-table__cell--non-numeric">{{ reg.factura }}</td>
              <td class="mdl-data-table__cell--non-numeric">{{ reg.unidad }}</td>
              <td class="mdl-data-table__cell--non-numeric">{{ reg.convenio }}</td>
              <td class="mdl-data-table__cell--non-numeric">{{ reg.fecha_radicacion|date:"Y-m-d" }}</td>
              <td class="mdl-data-table__cell--non-numeric">{{ reg.contrato_tipo }}</td>
              <td>{{ reg.valor_factura|intcomma }}</td>
            </tr>
          {% endfor %}  
      </table>
    </div>
  </div>
{% endlanguage %}
{% endblock %}
{% block scripts %}
  <script type="text/javascript" src="{% static 'stc/rad_agregar.js' %}"></script> 
  {% if pre_fecha_radicacion %}
    <script>
      document.getElementById("fecha_radicacion").value = "{{ pre_fecha_radicacion }}";
    </script>
  {% endif %}
  {% if pre_empresa %}
  {% else %}
    <script>
      document.getElementById("empresa").value = "GESTIONARBIENESTAR";
    </script>
  {% endif %}
{% endblock %}