{% extends "stc/layout.html" %}
{% load static %}
{% load humanize %}
{% load i18n %}
{% block titulo_page %}
  Radicación
{% endblock %}
{% block titulo_body %}
  <a class="left bot-atras" href="{% url 'stc:inicio' %}">
    <i class="material-icons">arrow_back</i>
  </a>
  <a class="brand-logo">Radicación</a>
{% endblock %}
{% block opciones %}
  <li><a href="{% url 'stc:rad_agregar' %}">Agregar</a></li>
  <li><a href="{% url 'stc:rad_gestion' %}">Eliminar</a></li>
{% endblock %}
{% block breadcrumb %}
  <a href="{% url 'stc:inicio' %}" class="breadcrumb">STC</a>
  <a class="breadcrumb">Radicación</a>
{% endblock %}
{% block body %}
  {% language 'es' %}
    <div class="container">
      <table class="bordered responsive-table highlight">
        <thead>
          <tr>
            <th data-field="factura">FACTURA</th>
            <th data-field="unidad">UNIDAD</th>
            <th data-field="convenio">CONVENIO</th>
            <th data-field="radicado">RADICADO</th>
            <th data-field="contrato">CONTRATO</th>
            <th data-field="valor">VALOR</th>
          </tr>
        </thead>
        <tbody>
          {% for i in ult_reg %}
            <tr>
              <td>{{ i.factura }}</td>
              <td>{{ i.unidad.id }}</td>
              <td>{{ i.convenio.nombre }}</td>
              <td>{{ i.fecha_radicacion|date:"Y-m-d" }}</td>
              <td>{{ i.contrato_tipo }}</td>
              <td>{{ i.valor_factura|intcomma }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
      <a class="btn-floating btn-large blue" href="{% url 'stc:rad_agregar' %}">
        <i class="large material-icons">add</i>
      </a>
    </div>
  {% endlanguage %}
{% endblock %}