{% extends "stc/layout.html" %}
{% load static %}
{% load humanize %}
{% block titulo_page %}
  Radicación
{% endblock %}
{% block titulo_body %}
  <a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" href="{% url 'stc:inicio' %}">
    <i class="material-icons">arrow_back</i>
  </a>
  RADICACION
{% endblock %}
{% block acciones %}
  <a class="action-button mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" href="{% url 'stc:rad_agregar' %}">
    <i class="material-icons">add_box</i>
  </a>
  <a class="action-button mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" href="{% url 'stc:rad_gestion' %}">
    <i class="material-icons">delete</i>
  </a> 
{% endblock %}
{% block body %}
  
  <div class="mdl-grid content">
    <div class="mdl-cell mdl-cell--12-col mdl-grid">
      <table class="full-table mdl-data-table mdl-js-data-table mdl-shadow--2dp">
        <thead>
          <tr>
            <th class="mdl-data-table__cell--non-numeric">FACTURA</th>
            <th class="mdl-data-table__cell--non-numeric">UNIDAD</th>
            <th class="mdl-data-table__cell--non-numeric">CONVENIO</th>
            <th class="mdl-data-table__cell--non-numeric">RADICADO</th>
            <th class="mdl-data-table__cell--non-numeric">CONTRATO</th>
            <th>VALOR</th>
          </tr>
        </thead>
        {% for reg in last_registros %}
            <tr>
              <td class="mdl-data-table__cell--non-numeric">{{ reg.factura }}</td>
              <td class="mdl-data-table__cell--non-numeric">{{ reg.unidad }}</td>
              <td class="mdl-data-table__cell--non-numeric">{{ reg.convenio }}</td>
              <td class="mdl-data-table__cell--non-numeric">{{ reg.fecha_radicacion }}</td>
              <td class="mdl-data-table__cell--non-numeric">{{ reg.contrato_tipo }}</td>
              <td>{{ reg.valor_factura|intcomma }}</td>
            </tr>
          {% endfor %}  
      </table>
    </div>
  </div>
  <a href="{% url 'stc:rad_agregar' %}" id="main-action" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-shadow--8dp"><i class="material-icons">add</i></a>
{% endblock %}