{% extends "stc/layout.html" %}
{% load static %}
{% load humanize %}
{% block title_head %}
  Remisión de devoluciones
{% endblock %}
{% block title_body %}
  REMISION DE DEVOLUCIONES
{% endblock %}
{% block body %}
  <div>
    <center>
      <form class="form-radicacion" id="formRadicacion" action="{% url 'stc:remision_devoluciones' %}" method="post">
        {% csrf_token %}
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width:250px; margin-right:60px" onclick="limpiarInput('gestor')">
            <input class="mdl-textfield__input" type="text" id="gestor" name="gestor" list="lstGestores" value="{{ gestor }}"/>
            <datalist name="lstGestores" id="lstGestores"> 
              {% for each in gestores %}
                <option>{{ each.nombre }}</option>
              {% endfor %}
            </datalist>
            <label class="mdl-textfield__label" for="gestor">Gestor</label>
          </div>
        <div class="botones">
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect" name="submit" value="buscar">Buscar</button>
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect" value="remitir" name="submit" style="margin-left: 20px">Remitir todo</button>
        </div>
      </form>
    </center> 
  </div>
{% endblock %}
{% block body2 %}
  <div class="demo-container mdl-grid" style="margin-top: 0vh">
    <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone" style="width:5%"></div>
    <div class="demo-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col" style="width:85%">
      <table class="mdl-data-table mdl-js-data-table full-table" name="dash" id="dash" style="width:100%">
        <thead>
          <tr>
            <th class="mdl-data-table__cell--non-numeric head-table" style="color:#ffffff">ID</th>
            <th class="mdl-data-table__cell--non-numeric head-table" style="color:#ffffff">FACTURA</th>
            <th class="mdl-data-table__cell--non-numeric head-table" style="color:#ffffff">EMPRESA</th>
            <th class="mdl-data-table__cell--non-numeric head-table" style="color:#ffffff">CONVENIO</th>
            <th class="mdl-data-table__cell--non-numeric head-table" style="color:#ffffff">FECHA DEV</th>
            <th class="head-table" style="color:#ffffff">VALOR</th>
            <th class="mdl-data-table__cell--non-numeric head-table" style="color:#ffffff">ESTADO</th>
          </tr>
        </thead>
        <tbody>
          {% for reg in pendientes %}
            <tr onclick="getRow(this)">
              <td class="mdl-data-table__cell--non-numeric">{{ reg.id }}</td>
              <td class="mdl-data-table__cell--non-numeric">{{ reg.factura }}</td>
              <td class="mdl-data-table__cell--non-numeric">{{ reg.empresa.id }}</td>
              <td class="mdl-data-table__cell--non-numeric">{{ reg.convenio.nombre }}</td>
              <td class="mdl-data-table__cell--non-numeric">{{ reg.fecha_devolucion }}</td>
              <td>{{ reg.valor_factura|intcomma }}</td>
              <td class="mdl-data-table__cell--non-numeric">{{ reg.estado.descripcion }}</td>
            </tr>
          {% endfor %}        
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}