{% extends "stc/layout.html" %}
{% load static %}
{% load humanize %}
{% block titulo_page %}
  Reporte capitación
{% endblock %}
{% block titulo_body %}
  <a class="brand-logo">Reportes</a>
{% endblock %}
{% block breadcrumb %}
  <a href="{% url 'stc:inicio' %}" class="breadcrumb">STC</a>
  <a href="{% url 'stc:reportes' %}" class="breadcrumb">Reportes</a>
  <a class="breadcrumb">Capitas</a>
{% endblock %}
{% block body %}
  <form id="formulario" action="{% url 'stc:rep_capitas' %}" method="POST" class="white z-depth-1 form-mini">
    {% csrf_token %}
    <div class="row container-mini form-main">
      <div class="input-field col s12">
        <select id="empresa" name="empresa">
          {% for i in empresas %}
            <option value="{{ i.nombre }}">{{ i.nombre }}</option>
          {% endfor %}
        </select>
        <label>Empresa</label>
      </div>
      <div class="input-field col s12">
        <select id="convenio" name="convenio">
          {% for i in convenios %}
            <option value="{{ i.nombre }}">{{ i.nombre }}</option>
          {% endfor %}
        </select>
        <label>Convenio</label>
      </div>
      <div class="input-field col s6">
        <input type="month" id="mes_reporte" name="mes_reporte">
        <label for="mes_reporte" class="active">Mes reporte</label>
      </div>
    </div>
    <div class="row form-bot">
      <div class="col s12 center">
        <button id="buscar" name="submit" value="generar" class="waves-effect waves-light grey lighten-3 black-text btn"><i class="material-icons left">search</i>Generar</button>
        <button id="eliminar" name="submit" value="exportar" class="waves-effect waves-light blue btn" style="margin-left:20px"><i class="material-icons left">get_app</i>Exportar</button>
      </div>
    </div>
  </form>
  {% if reporte_capitas %}
    <div class="row dash-cont">
      <table class="bordered responsive-table highlight" id="dash">
        <thead>
          <tr>
            <th data-field="factura">FACTURA</th>
            <th data-field="unidad">CONVENIO</th>
            <th data-field="convenio">RADICADO</th>
            <th data-field="radicado">SERVICIO</th>
            <th data-field="valor">DEV</th>
            <th data-field="valor">GL</th>
            <th data-field="valor">VALOR</th>
          </tr>
        </thead>
        <tbody>
          {% for i in reporte_capitas %}
            {% if i.es_anu_rad %}
            {% else %}
              <tr onclick="getConsulta(this)">
                <td>{{ i.factura }}</td>
                <td>{{ i.convenio.nombre }}</td>
                <td>{{ i.fecha_radicacion|date:"Y-m-d" }}</td>
                <td>{{ i.servicio.descripcion }}</td>
                <td>{{ i.tiene_dev }}</td>
                <td>{{ i.total_gl.saldo_glosa__sum|intcomma }}</td>
                <td>{{ i.valor_factura|intcomma }}</td>
              </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% endif %}
{% endblock %}
{% block scripts %}
  <script src="{% static 'stc/js/rep_capitas.js' %}"></script>
  {% if pre_mes_reporte %}
    <script>
      $("#mes_reporte").val("{{ pre_mes_reporte }}");
      $("#empresa").val("{{ pre_empresa }}");
      $("#convenio").val("{{ pre_convenio }}");
    </script>
  {% endif %}
{% endblock %} 