html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}
.drawer{
  display: flex;
}

.drawer-header{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 16px;
  height: 120px;
}
.avatar{
  width: 48px;
  height: 48px;
  border-radius: 10px;
  margin-bottom: 5px;
}
.avatar-big{
  width: 96px;
  height: 96px;
  border-radius: 10px;
  margin-bottom: 5px;
}
.avatar-dropdown{
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
.mdl-menu__item {
  display: flex;
  align-items: center;
}
.material-icons{
  font-size: 24px;
}
.icon-nav{
  margin-right: 10px;
}
.navigation{
  flex-grow: 1;
}
.content{
  max-width: 1080px;
  margin-top: 10px;
}
.content-form-agregar{
  max-width: 800px;
  margin-top: 10px;
}
.content-rad-gest{
  max-width: 500px;
  margin-top: 10px;
}
.content-consulta{
  max-width: 100%;
  margin-top: 10px;
}
.login-content{
  max-width: 400px;
  margin-top: 10px;
}
.cell{
  padding:10px;
  text-align: center;
  display: block;
}
.cell-button{
  padding:10px;
  text-align: center;
  display: block;
  margin-bottom: 20px;
}
.cell-login{
  padding:0px;
  text-align: center;
  display: block;
}
.cell-form{
  padding-left:7%;
  display: block;
  max-width:100%;
}
.cell-head-form{
  padding-left:3%;
  display: block;
  color:#263238;
  margin-bottom: 40px;
  margin-top:30px;
}
.mod-button{
  padding:60px;
}
.action-button{
  margin-right: 15px;
}
.mod-icon{
  font-size:30px;
}
.messages-success {
    background-color: #263238; 
    color:#fff;
}
.messages-error {
    background-color: #F44336; 
    color:#fff;
}
.messages-warning {
    background-color: #FF9800; 
    color:#fff;    
}
.logo-form{
  width: 250px;
  max-width:100%;
}
.full-table{
  min-width: 100%;
  max-width: 100%;
}
.icon-consulta{
  font-size: 16px;
  margin-right: 3px;
}
.card-square.mdl-card {
  width: 280px;
  height: 280px;
}
.card-capita > .mdl-card__title {
  color: #fff;
  background:
    url('/static/stc/images/gps_fixed.png') top right 10% no-repeat #455A64;
}
.card-exprad > .mdl-card__title {
  color: #fff;
  background:
    url('/static/stc/images/cloud_download.png') top right 10% no-repeat #455A64;
}

#icon-lock{
  font-size: 18px;
  margin-right: 3px;
}
#main-action {
      position: fixed;
      display: block;
      right: 0;
      bottom: 0;
      margin-right: 40px;
      margin-bottom: 40px;
      z-index: 900;
    }